@font-face {
  font-family: "Montserrat ";
  src: url("/fonts/montserrat.regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

/* Inicio Estilos Index */
h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

li {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

/* Fin Estilos Index */
/* Inicio Propiedades Main Header */
.main__header {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  width: 96vw;
  height: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;

    & li {
      padding-left: 15px;
      list-style: none;
    }
  }
}

.Inicio {
  color: #3685fb;
  font-family: "Montserrat", sans-serif;
}

/* Fin Propiedades Main Header */

/* Inicio Propiedades Destinos Europeos */
.destiny {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_tittle_main {
    margin-top: 3em;
    margin-bottom: 20px;
    font-size: 34px;
    color: black;
    animation: main__title 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) backwards;
  }

  @keyframes destiny_tittle_main {
    0% {
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }

  &_box {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_1 {
      margin: 1em;

      &_tittle {
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
        animation: destiny_box_1_tittle 0.8s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }

      @keyframes destiny_box_1_tittle {
        0% {
          letter-spacing: -0.5em;
          -webkit-filter: blur(12px);
          filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
        }
      }
    }

    &_2 {
      margin: 1em;

      &_tittle {
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
        animation: destiny_box_2_tittle 0.8s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }

      @keyframes destiny_box_2_tittle {
        0% {
          letter-spacing: -0.5em;
          -webkit-filter: blur(12px);
          filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
        }
      }
    }

    &_3 {
      margin: 1em;

      &_tittle {
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
        animation: destiny_box_3_tittle 0.8s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }

      @keyframes destiny_box_3_tittle {
        0% {
          letter-spacing: -0.5em;
          -webkit-filter: blur(12px);
          filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
        }
      }
    }
  }
}

.carousel {
  width: 19em;
}

@media (min-width: 768px) {
  /* Inicio Propiedades Main Header 768px */
  .main__header {
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;

    &__nav {
      display: flex;
      justify-content: space-around;
      padding: 10px;

      & li {
        padding-left: 15px;
        list-style: none;
      }
    }
  }
  .Inicio {
    color: #3685fb;
  }

  .destiny {

    &_tittle_main {
      margin-top: 2em;
      font-size: 4em;
      animation: main__title 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
        backwards;
    }

    @keyframes destiny_tittle_main {
      0% {
        filter: blur(12px);
        opacity: 0;
      }

      100% {
        filter: blur(0px);
        opacity: 1;
      }
    }

    &_box {

      &_1 {

        &_tittle {
            font-size: 3rem;
          animation: destiny_box_1_tittle 0.8s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        @keyframes destiny_box_1_tittle {
          0% {
            letter-spacing: -0.5em;
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
          }
          100% {
            -webkit-filter: blur(0px);
          }
        }
      }

      &_2 {

        &_tittle {
            font-size: 3rem;
          animation: destiny_box_1_tittle 0.8s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        @keyframes destiny_box_2_tittle {
          0% {
            letter-spacing: -0.5em;
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
          }
          100% {
            -webkit-filter: blur(0px);
          }
        }
      }

      &_3 {

        &_tittle {
            font-size: 3rem;
          animation: destiny_box_1_tittle 0.8s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        @keyframes destiny_box_3_tittle {
          0% {
            letter-spacing: -0.5em;
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
          }
          100% {
            -webkit-filter: blur(0px);
          }
        }
      }
    }

    .carousel {
        width: 32em;
      }
  }

  /* Fin Propiedades Main Header min 768px */

  @media (min-width: 992px) {
    .destiny {
      background-image: url(/img/fondo-descubre.png);
      background-repeat: no-repeat;
      background-position: center bottom;

      &_tittle_main {
        margin-top: 3em;
        font-size: 5em;
        animation: main__title 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
          backwards;
      }

      @keyframes destiny_tittle_main {
        0% {
          filter: blur(12px);
          opacity: 0;
        }

        100% {
          filter: blur(0px);
          opacity: 1;
        }
      }

      &_box {
        flex-direction: row;

        &_1 {
          margin: 2em;

          &_tittle {
            margin-bottom: 1em;
          }
        }

        &_2 {
          margin: 2em;

          &_tittle {
            margin-bottom: 1em;
          }
        }

        &_3 {
          margin: 2em;

          &_tittle {
            margin-bottom: 1em;
          }
        }
      }
    }

    .carousel {
      width: 25em;
    }
  }
}
